<p id="notice"><%= notice %></p>

<p>
  <strong>Expiredate:</strong>
  <%= @limit.expireDate %>
</p>

<p>
  <strong>Limit:</strong>
  <%= @limit.limit %>
</p>

<%= link_to 'Edit', edit_limit_path(@limit) %> |
<%= link_to 'Back', limits_path %>
