<p id="notice"><%= notice %></p>

<p>
  <strong>Expiredate:</strong>
  <%= @limit.expireDate %>
</p>

<p>
  <strong>Limit:</strong>
  <%= @limit.limit %>
</p>

<table>
  <thead>
    <tr>
      <th>Store</th>
      <th>Description</th>
      <th>Date</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @expenses.sort{|a,b| b.date <=> a.date}.each do |expense| %>
      <tr>
        <td><%= expense.store %></td>
        <td><%= expense.description %></td>
        <td><%= expense.date %></td>
        <td><%= expense.value %></td>
        <td><%= link_to 'Show', expense %></td>
        <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
        <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_limit_path(@limit) %> |
<%= link_to 'Back', limits_path %>
