<p id="notice"><%= notice %></p>

  <h1>
	Your Limit:
	</h1>
<p>
  <strong>Expiredate:</strong>
  <%= @limit.expireDate %>
</p>

<p>
  <strong>Limit:</strong>
  <%= @limit.limit %>
</p>

        <%= link_to 'Edit', edit_limit_expense_path(@limit) %> |
        <%= link_to 'Destroy', @limit, method: :delete, data: { confirm: 'Are you sure?' } %>
		

<%= link_to 'Back', limits_path %>
